.form__submit-btn {
  background-color: #fff;
  padding: 0;
  margin-top: 216px;
  min-height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: opacity .4s ease-in;
}

.form__submit-btn:hover {
  opacity: .7;
}
